
/* Nav bar logo */
.smaller-image {
    width: 250px; 
    height: auto;
}

/* Nav bar links menu */
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
color: #ea5c20;
}

/* Home page hero image */
.home-hero {
    background: url(../images/home-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    margin-top: 120px;
}


/* Solar calculator styling */
.form {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: black 1px solid;
    text-align: center;
    box-shadow: 5px 10px grey;
    background-color: orange
}

p {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.calculator {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: orange;
    text-shadow: 1px 1px 3px #000000;
    margin-top: 300px;
}

#answer {
    display: none;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: black 1px solid;
    text-align: center;
    box-shadow: 5px 10px grey;
    background-color: orange
}
