/* Remove margin and padding all bootstrap containers */
.container-fluid {
    padding: 0;
    margin: 0;
}

/* Nav bar logo */
.smaller-image {
    width: 250px; 
    height: auto;
}

/* Nav bar links menu */
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
color: #ea5c20;
}

/* Home page hero image */
.home-hero {
    background: url(../images/home-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    margin-top: 50px;
}

/* Home page title */
.home-title h2 {
    color: #ea5c20;
    font-size: 50px;
    margin-top: 10px;
}

/* Home page call to action button */
.home-learn {
    margin-top: 30px;
    border-radius: 25px;
    background: #ea5c20;
    color: #fff;
    border: none;
}

/* Home and services page intro image and text 2 columns container */
.intros {
    margin-top: 150px;
}

/* Home intro image and text image container */
.intro-image-home {
    height: 500px;
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/home-intro.png);
}

/* Home intro text section */
.intro-text P {
    margin-top: 55px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #888885;
}

/* Headings */
h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    color: #312D2A;
}

h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: #312D2A;
}

/* Dividers */

.end-section {
    margin-top: 55px;
}
 .intro-divider {
    border-top: 3px solid #ea5c20;
    width: 50%;
    border-radius: 15%;
}

.info-divider {
    border-top: 3px solid #ea5c20;
    width: 25%;
    border-radius: 15%;
}

.card-divider {
    border-top: 3px solid #ea5c20;
    width: 25%;
    border-radius: 15%;
}

/* Solar calculator styling */
.form {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: black 1px solid;
    text-align: center;
    box-shadow: 5px 10px grey;
    background-color: orange
}

/* Paragraphs */
.card-text {
    margin-top: 55px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #888885;
}

/* Savings calculator */
.calculator {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: orange;
    text-shadow: 1px 1px 3px #000000;
    margin-top: 300px;
}

/* Savings calculator result box */
#answer {
    display: none;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: black 1px solid;
    text-align: center;
    box-shadow: 5px 10px grey;
    background-color: orange
}

/* Home page info boxes */
.info-box {
    margin-top: 55px;
}

.card {
    border-radius: 12px;
    box-shadow: 10px 5px 5px #a9a9a9;
}

h3 i {
    margin: 15px;
    color: #ea5c20;
    display: block !important;
    text-align: center;
    font-size: 40px;
}

/* Services hero image */
.services-hero {
    background: url(../images/services-hero.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

.services-title h2 {
    color: #ea5c20;
    font-size: 50px;
    margin-top: 55px;
}


/* Home intro image and text image container */
.intro-image-services {
    height: 500px;
    width: 90%;
    margin-top: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/services-intro.png);
}

.services-text P {
    margin-top: 55px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #888885;
}